* {
  margin: 0;
  padding: 0;
}

.radar {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}

.radar .circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  border: 1px dotted #fb0000;
}

.radar .circle:nth-child(2) {
  height: 80%;
  width: 80%;
}

.radar .circle:nth-child(3) {
  height: 60%;
  width: 60%;
}

.radar .circle:nth-child(4) {
  height: 40%;
  width: 40%;
}

.radar .circle:nth-child(5) {
  height: 20%;
  width: 20%;
}

.radar::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg,
    rgb(0, 0, 0, 0) 50%,
    #fb0000 100%);
  animation:
    scaning 5s linear infinite;
  transform-origin: 100% 100%;
}

@keyframes scaning {
  to {
    transform: rotate(360deg);
  }
}